.video__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 325px;
  height: 310px;
  margin: auto;
  box-sizing: border-box;
}

.video__card-content {
  background: #161616;
  width: 325px;
  height: 125px;
  margin-bottom: 2px;
}

.video__card-content h3 {
  color: #fff;
  margin: 0;
  padding: 20px 20px 0px 20px;
}
.video__card-nameChannel {
  margin-top: -5px;
  padding: 20px;
  color: gray;
}

@media only screen and (max-width: 1600px) {
  .video__card {
    width: 280px;
    height: 265px;
    margin: 25px;
  }
}

@media only screen and (max-width: 1200px) {
  .video__card {
    width: 700px;
    height: 550px;
    margin: -25px;
  }
  .video__card-content {
    width: 700px;
  }
  .video__card .video__card-tumb {
    width: 700px;
    height: 350px;
  }
}

@media only screen and (max-width: 900px) {
  .video__card {
    width: 450px;
    height: 400px;
    margin: -25px;
  }
  .video__card-content {
    width: 450px;
  }
  .video__card .video__card-tumb {
    width: 450px;
    height: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .video__card {
    width: 350px;
    height: 300px;
    margin-bottom: 40px;
  }
  .video__card-content {
    width: 350px;
  }
  .video__card .video__card-tumb {
    width: 350px;
    height: 200px;
  }
}
