.feed__area {
  width: 100%;
  background-color: rgb(15, 15, 15);
}

.feed__left {
  position: fixed;
  border-right: 1px solid #3d3d3d;
  background: #212121;
  height: 100vh;
  width: 250px;
  transition: all ease 0.4s;
}

.feed__right {
  overflow-y: auto;
  height: 100%;
}

.feed__right-name {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
.feed__right span {
  color: #f31503;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 5px;
}
