.video__section-area {
  display: flex;
  justify-content: space-between;
  height: 90vh;
  width: 1600px;
  overflow-x: hidden;
}

.video__area-left {
  width: 1250px;
  margin-left: 25px;
}
.video__area-left h1 {
  margin-left: 25px;
  font-size: 25px;
}

.video__area-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 350px;
  max-height: 77vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.likes__count {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.likes__count span {
  margin-left: 25px;
  font-size: 18px;
}

.channel__title-vd {
  margin-left: 25px;
  margin-top: 15px;
}

.video__detail-nameChannel {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}
