.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  background: #202020;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  border-bottom: 1px solid #3d3d3d;
  flex: 1;
}

.navbar__btn {
  display: flex;
  align-items: center;
}

.navbar__btn img {
  height: 45px;
}

.menu__bar {
  position: fixed;
  top: 33px;
  margin-left: 120px;
  cursor: pointer;
}

.menu__bar:hover {
  color: #ccc;
  transition: all ease 0.6s;
}
