.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  background: #202020;
  top: 0;
  border-bottom: 1px solid #3d3d3d;
}

.navbar__btn {
  display: flex;
  align-items: center;
}

.navbar__btn img {
  height: 45px;
}
