.sidebar {
  overflow-y: auto;
  padding: 15px;
  height: 95%;
  display: flex;
  flex-direction: column;
}

.sidebar__category-btn {
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.sidebar__category-btn:hover {
  background-color: #fc1503 !important;
  color: white !important;
}

.sidebar__category-btn:hover span {
  color: white !important;
}
