html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  background-color: rgba(0, 0, 0, 0.874);
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.container {
  background-color: rgb(34, 34, 34);
  margin: auto;
  width: 1600px;
}

.react-player {
  height: 68vh !important;
  width: 100% !important;
}

.MuiCircularProgress-indeterminate {
  position: fixed;
  top: 50%;
  left: 50%;
}

@media only screen and (max-width: 1600px) {
  .container {
    width: 1200px;
  }
  .react-player {
    height: 70vh !important;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 900px;
  }

  .react-player {
    height: 55vh !important;
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width: 600px;
  }
  .menu__bar {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 400px;
  }
}
